body{
    background: #4164b7;
}
header{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}
section{
    background: white;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.715);
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 3px;
}
#msg{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#foto{
    display: flex;
    justify-content: center;
    justify-items: center;
}